.container-fluid.header
  .row
    .top
      .col-xs-3.text-center
        %h1.title
          %a{:href => root_path} LeRoiMerlin
      .col-xs-6
        - Category.all.each do |category|
          = link_to category.name, picture_by_cayegory_path(category.id), class: "link-category"
      .col-xs-3.text-center
        - if user_signed_in?
          %a.logout{href: destroy_user_session_path, data: {method: 'delete'}}
            %button.btn.btn-success
              Se deconnecer
          %a{href: new_picture_path}
            %button.btn.btn-success
              Uploader une image
        - else
          %a.my-account{href: new_user_session_path}
            %button.btn.btn-success
              Se connecter
      .clearfix
