- if @pictures.count > 0
  %section{id: 'photos'}
    =render partial: "picture"
  .container-fluid
    .row.text-center
      %a{href: "#", data: {do: 'more'}, id: "more-button"}
        %button.btn.btn-success
          Afficher plus
- else
  .alert.alert-danger.text-center
    Aucune image trouvée !

:javascript
  if ("#{@pictures.last}" != "#{nil}"){
    window.last = "#{@pictures.last.try(:id)}"
  }
  else{
    window.last = 0
  }
