/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F5F5F5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc!important;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: white;

  .title {
    margin: 0!important;
  }
}

.footer{
  background-color: white;
  z-index: 9000;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.content {
  padding-top: 60px;
  color: black;
}


#photos {
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
}
.container-picture{
  position: relative;
  margin-bottom: 5px;
  .tag {
     float: left;
     position: absolute;
     left: 0px;
     bottom: 0px;
     opacity: 0.2;
     z-index: 1000;
     background-color: black;
     color: white;
     font-weight: bold;
     min-height: 30px;
     width: 100%;
     padding:5px;
     transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
}
.container-picture:hover{
  .tag {
     opacity: 0.6;
  }
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
